<!-- page content -->
<div class="right_col" role="main">
   <div class="">
      <div class="page-title">
         <div class="title_left">
            <h3>Users </h3>
         </div>
         <div class="title_right" style="text-align: right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
               <div class="input-group" style="float: right">
                  <!--span class="input-group-btn"-->
                  <a href= "add_users.html"><button type="submit" class="btn btn-success">Add</button></a>
                  <!-- </span> -->
               </div>
            </div>
         </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
         <div class="clearfix"></div>
         <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
               <br>
               <div class="x_content">
                  <div class="table-responsive">
                     <table class="table table-striped jambo_table bulk_action">
                        <thead>
                           <tr class="headings">
                              <th>
                                 <input type="checkbox" id="check-all" class="flat">
                              </th>
                              <th class="column-title">Last name </th>
                              <th class="column-title">First name </th>
                              <th class="column-title">Middle name </th>
                              <th class="column-title">E-mail </th>
                              <th class="column-title">Phone number </th>
                              <th class="column-title">Enumerator </th>
                              <th class="column-title">Admin </th>
                              <th class="column-title">Verifier </th>
                              <th class="column-title no-link last"><span class="nobr">Action</span>
                              </th>
                              <th class="bulk-actions" colspan="9">
                                 <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                              </th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr class="even pointer">
                              <td class="a-center ">
                                 <input type="checkbox" class="flat" name="table_records">
                              </td>
                              <td class=" ">Mamodu</td>
                              <td class=" ">Oja </td>
                              <td class=" ">Joshua </td>
                              <td class=" ">OjJ@gmail.com</td>
                              <td class=" ">09067689094</td>
                              <td><i class="fa fa-check"></i></td>
                              <td><i class="fa fa-close"></i></td>
                              <td><i class="fa fa-close"></i></td>
                              <td class=" "><a href= "edit_user.html">Edit</a> | <a href="#">Delete</a>
                              </td>
                           </tr>
                           <tr class="even pointer">
                              <td class="a-center ">
                                 <input type="checkbox" class="flat" name="table_records">
                              </td>
                              </td>
                              <td class=" ">Onyebuchi</td>
                              <td class=" ">Chiemeka</td>
                              <td class=" ">John</td>
                              <td class=" ">onyebuchiJ@yahoo.com</td>
                              <td class=" ">08029978654</td>
                              <td><i class="fa fa-check"></i></td>
                              <td><i class="fa fa-close"></i></td>
                              <td><i class="fa fa-close"></i></td>
                              <td class=" last"><a href= "edit_user.html">Edit</a> | <a href="#">Delete</a>
                              </td>
                           </tr>
                           <tr class="even pointer">
                              <td class="a-center ">
                                 <input type="checkbox" class="flat" name="table_records">
                              </td>
                              <td class=" ">Onaja</td>
                              <td class=" ">Chioma</td>
                              <td class=" ">Gloria</td>
                              <td class=" ">Ong@hotmail.com</td>
                              <td class=" ">08058976457</td>
                              <td><i class="fa fa-close"></i></td>
                              <td><i class="fa fa-check"></i></td>
                              <td><i class="fa fa-close"></i></td>
                              <td class=" last"><a href= "edit_user.html">Edit</a> | <a href="#">Delete</a>
                              </td>
                           </tr>
                           </tr>
                        </tbody>
                     </table>
                     <nav aria-label="...">
                        <ul class="pagination">
                           <li class="page-item active"><span class="page-link">1<span class="sr-only">(current)</span></span>
                           <li class="page-item"><a href="#">2</a></li>
                           <li class="page-item"><a href="#">&gt;</a></li>
                        </ul>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
